# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SushiPrograms\epicgames-status\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
